<section class="ds-abilities">
  {{#each abilityGroups}}
    <details class="ds-ability-group" open>
      <summary class="ds-ability-group-title ds-section-title">
        <i class="ds-group-chevron fa-solid fa-chevron-down"></i>
        {{this.label}}
      </summary>
      {{#each this.abilities}}
        {{> modules/draw-steel-stat-block-styling/templates/partials/ability.hbs this }}
      {{/each}}
    </details>
  {{/each}}
</section>
