<section class="ds-abilities">
  <h2 class="ds-section-title">Abilities</h2>
  {{#each abilities}}
    {{> modules/draw-steel-stat-block-styling/templates/partials/ability.hbs this }}
  {{/each}}
</section>
