<div class="ds-characteristics">
  {{#each characteristics}}
    <button type="button" class="ds-char"
            data-action="roll"
            data-roll-type="characteristic"
            data-characteristic="{{this.key}}"
            data-tooltip="Roll {{this.key}}">
      <div class="ds-char-label">{{this.label}}</div>
      <div class="ds-char-value">{{this.formatted}}</div>
    </button>
  {{/each}}
</div>
