<div class="ds-characteristics">
  {{#each characteristics}}
    <button type="button" class="ds-char"
            data-action="roll"
            data-roll-type="characteristic"
            data-characteristic="{{this.key}}"
            data-tooltip="Roll {{this.label}}">
      <span class="ds-char-key">{{this.rollKey}}</span>
      <span class="ds-char-value">{{this.formatted}}</span>
    </button>
  {{/each}}
</div>
